.graphic {
    top: -45.00048828125px;
    left: 859px;
    width: 731px;
    height: 612px;
    background: transparent url('/Users/abhiram/Abhi/FSD/React/abhishek3/src/Assets/Graphic.js') 0% 0% no-repeat padding-box;
    opacity: 0.3;
    position: absolute;
}