.graphic2 {
    top: 347px;
    left: -276.8547058105469px;
    width: 795px;
    height: 798px;
    background: transparent url('/Users/abhiram/Abhi/FSD/React/abhishek3/src/Assets/Graphic2.js') 0% 0% no-repeat padding-box;
    opacity: 0.3;
    position: absolute;
}